# Wallpaper. Don't forget about change wallpaper path
spawn-at-startup "swaybg" "-i" /home/your_user/'niri-creation-of-adam'/wallpaper/output.jpeg

# Replace this to your niri config
layout {
    gaps 16
}

focus-ring {
    width 1
    active-color "#ffffff"
    inactive-color "#505050"
}

border {
    off
}

shadow {
    on
}

window-rule {
    match app-id="firefox"
    opacity 0.9
}
